/mysql-files
/wordpress-files/.htaccess
/wordpress-files/wp-admin
/wordpress-files/wp-content
/wordpress-files/wp-includes
/wordpress-files/index.php
/wordpress-files/license.txt
/wordpress-files/readme.html
/wordpress-files/wp-activate.php
/wordpress-files/wp-blog-header.php
/wordpress-files/wp-comments-post.php
/wordpress-files/wp-config-sample.php
/wordpress-files/wp-cron.php
/wordpress-files/wp-links-opml.php
/wordpress-files/wp-load.php
/wordpress-files/wp-login.php
/wordpress-files/wp-mail.php
/wordpress-files/wp-settings.php
/wordpress-files/wp-signup.php
/wordpress-files/wp-trackback.php
/wordpress-files/xmlrpc.php
.user
